### Establish Connection With Eva DB

In [1]:
import sys
sys.path.insert(0,'..')
from src.server.db_api import connect

import nest_asyncio
nest_asyncio.apply()
connection = connect(host = '0.0.0.0', port = 5432) # hostname, port of the server where EVADB is running

In [2]:
cursor = connection.cursor()

### Upload the survellience video to analyse

In [3]:
cursor.execute('UPLOAD INFILE "../data/ua_detrac/ua_detrac.mp4" PATH "video.mp4";')
response = cursor.fetch_all()
print(response)

Response Object:
@status: 0
@batch: Batch Object:
@dataframe: Empty DataFrame
Columns: []
Index: []
@batch_size: 0
@identifier_column: id
@metrics: None

### Load video into EVA

In [4]:
cursor.execute('LOAD DATA INFILE "video.mp4" INTO MyVideo;')
response = cursor.fetch_all()
print(response)

Response Object:
@status: 0
@batch: Batch Object:
@dataframe:        Video  Num Loaded Frames
0  video.mp4                252
@batch_size: 1
@identifier_column: id
@metrics: None

In [5]:
cursor.execute('SELECT id FROM MyVideo WHERE id < 5;')
response = cursor.fetch_all()
print(response)

Response Object:
@status: 0
@batch: Batch Object:
@dataframe:    id
0   0
1   1
2   2
3   3
4   4
@batch_size: 5
@identifier_column: id
@metrics: None

### delete operator

In [6]:
cursor.execute('DELETE FROM MyVideo;')
response = cursor.fetch_all()
print(response)

Response Object:
@status: 0
@batch: Batch Object:
@dataframe: Empty DataFrame
Columns: []
Index: []
@batch_size: 0
@identifier_column: id
@metrics: None

In [7]:
cursor.execute('SELECT id FROM MyVideo WHERE id < 5;')
response = cursor.fetch_all()
print(response)

Response Object:
@status: -1
@batch: Batch Object:
@dataframe:                                           error
0  'NoneType' object has no attribute 'columns'
@batch_size: 1
@identifier_column: id
@metrics: None